In [6]:
import pandas as pd

In [7]:
contributions = pd.read_csv('../data_processing/individual_contributions.csv', sep='|', header=None,
                            usecols=[0, 3, 10, 13, 14, 20],
                            names=['CMTE_ID',
                                  'TRANSACTION_PGI',
                                  'ZIP_CODE',
                                  'TRANSACTION_DT',
                                  'TRANSACTION_AMT',
                                  'SUB_ID'],
                            dtype={"CMTE_ID": str, 
                                   "TRANSACTION_PGI": str,
                                   "ZIP_CODE": str,
                                  'TRANSACTION_DT': str,
                                   "TRANSACTION_AMT": float, 
                                   "SUB_ID": str
                                  }
                           )

In [8]:
contributions['zipcode_5'] = contributions['ZIP_CODE'].str[0:5]
contributions['ZIP_CODE'] = pd.to_numeric(contributions['ZIP_CODE'], errors='coerce')

In [9]:
contributions.dropna(subset=['CMTE_ID', 'ZIP_CODE','TRANSACTION_AMT','SUB_ID','zipcode_5'],inplace=True)
contributions = contributions.loc[contributions['TRANSACTION_AMT'] > 0]

In [10]:
candidate_committee = pd.read_csv('../data_processing/candidate_committee.csv', sep='|')
candidate_committee = candidate_committee[['CAND_ID', 'CMTE_ID']]

In [11]:
candidates = pd.read_csv('../data_processing/candidates.csv', sep='|', names=['CAND_ID', 'CAND_PARTY'], usecols=[0, 2],).iloc[1:, :]
#candidates = candidates[['CAND_ID', 'CMTE_ID']]
candidates.head()
contributions = contributions.merge(candidate_committee.merge(candidates, how='inner'))

In [29]:
grouped_party = contributions.groupby(['zipcode_5', 'CAND_PARTY'])
party_summary_df = pd. ()
party_summary_df['donations_sum'] = grouped_party['TRANSACTION_AMT'].sum()
party_summary_df['donations_median'] = grouped_party['TRANSACTION_AMT'].median()
party_summary_df['donations_count'] = grouped_party['SUB_ID'].count()
party_summary_df.head()

                      donations_sum  donations_median  donations_count
zipcode_5 CAND_PARTY
 3102     DEM                 400.0             100.0                4
00000     DEM             1187085.0              50.0             7566
          DFL                 100.0             100.0                1
          REP                9885.0              42.5               22
00001     DEM                 550.0             275.0                2

In [39]:
new_party_summary_df = party_summary_df.reset_index()
new_party_summary_df = new_party_summary_df.pivot(index='zipcode_5', columns='CAND_PARTY').fillna(0)
new_party_summary_df.head()

           donations_sum                                                       \
CAND_PARTY           AMP  CON        DEM    DFL  GRE  IDP  IND  LIB  LPF  NNE
zipcode_5
 3102                0.0  0.0      400.0    0.0  0.0  0.0  0.0  0.0  0.0  0.0
00000                0.0  0.0  1187085.0  100.0  0.0  0.0  0.0  0.0  0.0  0.0
00001                0.0  0.0      550.0    0.0  0.0  0.0  0.0  0.0  0.0  0.0
00003                0.0  0.0      600.0    0.0  0.0  0.0  0.0  0.0  0.0  0.0
00006                0.0  0.0      275.0    0.0  0.0  0.0  0.0  0.0  0.0  0.0

           ...  donations_count
CAND_PARTY ...              NON  NPA  NPP  OTH  PPT   REP   UN  UNK    W  WFP
zipcode_5  ...
 3102      ...              0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0
00000      ...              0.0  0.0  0.0  0.0  0.0  22.0  0.0  0.0  0.0  0.0
00001      ...              0.0  0.0  0.0  0.0  0.0   1.0  0.0  0.0  0.0  0.0
00003      ...              0.0  0.0  0.0  0.0  0.0   1.0  0.0  0.0  0.0  0.0
00006      ...              0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0

[5 rows x 60 columns]

In [17]:
census_df = pd.read_csv('census_data_2016.csv', sep=',`')

C:\Users\alexa\Anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,76,78,80,82,84,86,87,88,89,90,91,92,93,94,95,96,97,101,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,150,151,152,153,154,155,156,157,158,159,160,161,162,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
census_df.columns = census_df.iloc[0]
census_df.drop(0, axis=0, inplace=True)
census_df.head()

,Id,Id2,Geography,Estimate; Total:,Estimate; Total: - White alone,Estimate; Total: - Black or African American alone,Estimate; Total: - American Indian and Alaska Native alone,Estimate; Total: - Asian alone,Estimate; Total: - Native Hawaiian and Other Pacific Islander alone,Estimate; Total: - Some other race alone,...,Total; Estimate; POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL - Less than high school graduate,Total; Estimate; POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL - High school graduate (includes equivalency),Total; Estimate; POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL - Some college or associate's degree,Total; Estimate; POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL - Bachelor's degree or higher,Total; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings,Total; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Less than high school graduate,Total; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - High school graduate (includes equivalency),Total; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Some college or associate's degree,Total; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Bachelor's degree,Total; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree
1,8600000US00601,601,ZCTA5 00601,17800,14436,108,21,0,0,3046,...,(X),(X),(X),(X),16533,11522,15606,13561,22859,36771
2,8600000US00602,602,ZCTA5 00602,39716,22941,968,0,74,0,1544,...,(X),(X),(X),(X),13682,8018,12037,13060,21037,26118
3,8600000US00603,603,ZCTA5 00603,51565,35176,2149,106,638,11,6610,...,(X),(X),(X),(X),16022,9848,11884,15023,24438,32807
4,8600000US00606,606,ZCTA5 00606,6320,3739,175,0,0,0,2246,...,(X),(X),(X),(X),10861,6116,12798,13690,14466,-
5,8600000US00610,610,ZCTA5 00610,27976,16259,1018,0,33,1,6871,...,(X),(X),(X),(X),15167,8367,14411,14419,21234,33125

In [23]:
census_df['zipcode_5'] = census_df['Id'].str[9:14]
new_census_df = census_df.iloc[:, 3:]
new_census_df.set_index('zipcode_5', inplace=True)
new_census_df.head()

,Estimate; Total:,Estimate; Total: - White alone,Estimate; Total: - Black or African American alone,Estimate; Total: - American Indian and Alaska Native alone,Estimate; Total: - Asian alone,Estimate; Total: - Native Hawaiian and Other Pacific Islander alone,Estimate; Total: - Some other race alone,Estimate; Total: - Two or more races:,Estimate; Total: - Two or more races: - Two races including Some other race,"Estimate; Total: - Two or more races: - Two races excluding Some other race, and three or more races",...,Total; Estimate; POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL - Less than high school graduate,Total; Estimate; POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL - High school graduate (includes equivalency),Total; Estimate; POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL - Some college or associate's degree,Total; Estimate; POVERTY RATE FOR THE POPULATION 25 YEARS AND OVER FOR WHOM POVERTY STATUS IS DETERMINED BY EDUCATIONAL ATTAINMENT LEVEL - Bachelor's degree or higher,Total; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings,Total; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Less than high school graduate,Total; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - High school graduate (includes equivalency),Total; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Some college or associate's degree,Total; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Bachelor's degree,Total; Estimate; MEDIAN EARNINGS IN THE PAST 12 MONTHS (IN 2016 INFLATION-ADJUSTED DOLLARS) - Population 25 years and over with earnings - Graduate or professional degree
zipcode_5,,,,,,,,,,,,,,,,,,,,,
00601,17800,14436,108,21,0,0,3046,189,26,163,...,(X),(X),(X),(X),16533,11522,15606,13561,22859,36771
00602,39716,22941,968,0,74,0,1544,14189,164,14025,...,(X),(X),(X),(X),13682,8018,12037,13060,21037,26118
00603,51565,35176,2149,106,638,11,6610,6875,333,6542,...,(X),(X),(X),(X),16022,9848,11884,15023,24438,32807
00606,6320,3739,175,0,0,0,2246,160,77,83,...,(X),(X),(X),(X),10861,6116,12798,13690,14466,-
00610,27976,16259,1018,0,33,1,6871,3794,103,3691,...,(X),(X),(X),(X),15167,8367,14411,14419,21234,33125

In [24]:
for column in new_census_df.columns[:211]:
    new_census_df[column] = pd.to_numeric(new_census_df[column], errors='coerce')
new_census_df.dropna(inplace=True, axis=1)
new_census_df.head()

,Estimate; Total:,Estimate; Total: - White alone,Estimate; Total: - Black or African American alone,Estimate; Total: - American Indian and Alaska Native alone,Estimate; Total: - Asian alone,Estimate; Total: - Native Hawaiian and Other Pacific Islander alone,Estimate; Total: - Some other race alone,Estimate; Total: - Two or more races:,Estimate; Total: - Two or more races: - Two races including Some other race,"Estimate; Total: - Two or more races: - Two races excluding Some other race, and three or more races",...,Total; Estimate; Native Hawaiian and Other Pacific Islander alone - Bachelor's degree or higher,Total; Estimate; Some other race alone,Total; Estimate; Some other race alone - High school graduate or higher,Total; Estimate; Some other race alone - Bachelor's degree or higher,Total; Estimate; Two or more races,Total; Estimate; Two or more races - High school graduate or higher,Total; Estimate; Two or more races - Bachelor's degree or higher,Total; Estimate; Hispanic or Latino Origin,Total; Estimate; Hispanic or Latino Origin - High school graduate or higher,Total; Estimate; Hispanic or Latino Origin - Bachelor's degree or higher
zipcode_5,,,,,,,,,,,,,,,,,,,,,
00601,17800,14436,108,21,0,0,3046,189,26,163,...,0,1924,1275,436,114,92,11,11863,7488,2217
00602,39716,22941,968,0,74,0,1544,14189,164,14025,...,0,849,653,218,9677,6399,2131,25503,16080,5073
00603,51565,35176,2149,106,638,11,6610,6875,333,6542,...,0,4474,3221,1100,4725,3033,1006,34582,23936,7604
00606,6320,3739,175,0,0,0,2246,160,77,83,...,0,1479,770,128,131,44,7,4370,2382,426
00610,27976,16259,1018,0,33,1,6871,3794,103,3691,...,0,4327,2950,560,2446,1705,326,18758,12590,2901

In [58]:
new_summary_df = pd.DataFrame()
new_summary_df['donations_sum_DEM'] = new_party_summary_df['donations_sum', 'DEM']
new_summary_df['donations_median_DEM'] = new_party_summary_df['donations_median', 'DEM']
new_summary_df['donations_sum_REP'] = new_party_summary_df['donations_sum', 'REP']
new_summary_df['donations_median_REP'] = new_party_summary_df['donations_median', 'REP']
new_summary_df.head()

,donations_sum_DEM,donations_median_DEM,donations_sum_REP,donations_median_REP
zipcode_5,,,,
3102,400,100.0,0.0,0.0
00000,1.18708e+06,50.0,9885.0,42.5
00001,550,275.0,2700.0,2700.0
00003,600,250.0,1000.0,1000.0
00006,275,75.0,0.0,0.0

In [59]:
combined_summary_df = new_census_df.join(new_summary_df, how='inner')
combined_summary_df.head()

,Estimate; Total:,Estimate; Total: - White alone,Estimate; Total: - Black or African American alone,Estimate; Total: - American Indian and Alaska Native alone,Estimate; Total: - Asian alone,Estimate; Total: - Native Hawaiian and Other Pacific Islander alone,Estimate; Total: - Some other race alone,Estimate; Total: - Two or more races:,Estimate; Total: - Two or more races: - Two races including Some other race,"Estimate; Total: - Two or more races: - Two races excluding Some other race, and three or more races",...,Total; Estimate; Two or more races,Total; Estimate; Two or more races - High school graduate or higher,Total; Estimate; Two or more races - Bachelor's degree or higher,Total; Estimate; Hispanic or Latino Origin,Total; Estimate; Hispanic or Latino Origin - High school graduate or higher,Total; Estimate; Hispanic or Latino Origin - Bachelor's degree or higher,donations_sum_DEM,donations_median_DEM,donations_sum_REP,donations_median_REP
zipcode_5,,,,,,,,,,,,,,,,,,,,,
00602,39716,22941,968,0,74,0,1544,14189,164,14025,...,9677,6399,2131,25503,16080,5073,1891,50.0,0.0,0.0
00603,51565,35176,2149,106,638,11,6610,6875,333,6542,...,4725,3033,1006,34582,23936,7604,3923,15.0,0.0,0.0
00606,6320,3739,175,0,0,0,2246,160,77,83,...,131,44,7,4370,2382,426,0,0.0,500.0,500.0
00610,27976,16259,1018,0,33,1,6871,3794,103,3691,...,2446,1705,326,18758,12590,2901,1157,5.0,0.0,0.0
00612,63884,52902,3346,252,678,0,5209,1497,523,974,...,1011,871,205,43307,32610,10094,2410,50.0,0.0,0.0

In [60]:
new_census_df.columns

Index(['Estimate; Total:', 'Estimate; Total: - White alone',
       'Estimate; Total: - Black or African American alone',
       'Estimate; Total: - American Indian and Alaska Native alone',
       'Estimate; Total: - Asian alone',
       'Estimate; Total: - Native Hawaiian and Other Pacific Islander alone',
       'Estimate; Total: - Some other race alone',
       'Estimate; Total: - Two or more races:',
       'Estimate; Total: - Two or more races: - Two races including Some other race',
       'Estimate; Total: - Two or more races: - Two races excluding Some other race, and three or more races',
       ...
       'Total; Estimate; Native Hawaiian and Other Pacific Islander alone - Bachelor's degree or higher',
       'Total; Estimate; Some other race alone',
       'Total; Estimate; Some other race alone - High school graduate or higher',
       'Total; Estimate; Some other race alone - Bachelor's degree or higher',
       'Total; Estimate; Two or more races',
       'Total; Estimate; Two or more races - High school graduate or higher',
       'Total; Estimate; Two or more races - Bachelor's degree or higher',
       'Total; Estimate; Hispanic or Latino Origin',
       'Total; Estimate; Hispanic or Latino Origin - High school graduate or higher',
       'Total; Estimate; Hispanic or Latino Origin - Bachelor's degree or higher'],
      dtype='object', name=0, length=163)

In [61]:
combined_summary_df['donations_sum_DEM_quartile'] = pd.qcut(combined_summary_df['donations_sum_DEM'], q=[0, .25, .5, .75, 1.], labels=[4, 3, 2, 1])
combined_summary_df['donations_median_DEM_quartile'] = pd.qcut(combined_summary_df['donations_median_DEM'], q=[0, .25, .5, .75, 1.], labels=[4, 3, 2, 1])
combined_summary_df['donations_sum_REP_quartile'] = pd.qcut(combined_summary_df['donations_sum_REP'], q=[0, .25, .5, .75, 1.], labels=[4, 3, 2, 1])
combined_summary_df['donations_median_REP_quartile'] = pd.qcut(combined_summary_df['donations_median_REP'], q=[0, .25, .5, .75, 1.], labels=[4, 3, 2, 1])

In [62]:
combined_summary_df.sort_values(by=['donations_sum_DEM'])

,Estimate; Total:,Estimate; Total: - White alone,Estimate; Total: - Black or African American alone,Estimate; Total: - American Indian and Alaska Native alone,Estimate; Total: - Asian alone,Estimate; Total: - Native Hawaiian and Other Pacific Islander alone,Estimate; Total: - Some other race alone,Estimate; Total: - Two or more races:,Estimate; Total: - Two or more races: - Two races including Some other race,"Estimate; Total: - Two or more races: - Two races excluding Some other race, and three or more races",...,Total; Estimate; Hispanic or Latino Origin - High school graduate or higher,Total; Estimate; Hispanic or Latino Origin - Bachelor's degree or higher,donations_sum_DEM,donations_median_DEM,donations_sum_REP,donations_median_REP,donations_sum_DEM_quartile,donations_median_DEM_quartile,donations_sum_REP_quartile,donations_median_REP_quartile
zipcode_5,,,,,,,,,,,,,,,,,,,,,
49073,4784,4628,13,5,4,0,36,98,11,87,...,39,7,0,0.0,14585.0,50.0,4,4,2,4
64101,309,159,140,1,0,0,0,9,0,9,...,9,0,0,0.0,0.0,0.0,4,4,4,4
47018,4495,4383,21,0,21,55,8,7,0,7,...,8,0,0,0.0,1240.0,35.0,4,4,3,4
47017,327,327,0,0,0,0,0,0,0,0,...,0,0,0,0.0,200.0,100.0,4,4,4,3
64125,1303,852,99,16,0,0,334,2,2,0,...,90,5,0,0.0,755.0,62.5,4,4,3,3
47016,1136,1133,0,0,0,0,0,3,0,3,...,0,0,0,0.0,401.0,30.0,4,4,4,4
46991,1707,1701,0,4,0,0,0,2,0,2,...,0,0,0,0.0,350.0,175.0,4,4,4,2
64147,639,229,364,0,4,0,3,39,8,31,...,0,0,0,0.0,500.0,500.0,4,4,4,1
64096,1118,989,58,0,0,0,18,53,0,53,...,31,2,0,0.0,99.0,99.0,4,4,4,3
13861,352,289,6,0,0,0,0,57,0,57,...,0,0,0,0.0,3000.0,1500.0,4,4,3,1
27581,4727,3293,1064,27,13,0,205,125,42,83,...,126,0,0,0.0,825.0,350.0,4,4,3,1
46990,874,842,0,10,0,0,22,0,0,0,...,16,0,0,0.0,1150.0,100.0,4,4,3,3
46986,1634,1583,11,35,0,0,0,5,0,5,...,3,3,0,0.0,25.0,25.0,4,4,4,4
13847,65,65,0,0,0,0,0,0,0,0,...,0,0,0,0.0,650.0,50.0,4,4,3,4
64167,377,377,0,0,0,0,0,0,0,0,...,0,0,0,0.0,195.0,40.0,4,4,4,4
13844,930,866,28,0,0,0,0,36,0,36,...,0,0,0,0.0,200.0,100.0,4,4,4,3
64422,312,312,0,0,0,0,0,0,0,0,...,0,0,0,0.0,100.0,100.0,4,4,4,3
13860,95,95,0,0,0,0,0,0,0,0,...,0,0,0,0.0,3000.0,1000.0,4,4,3,1
27568,585,571,7,0,0,0,0,7,0,7,...,0,0,0,0.0,435.0,50.0,4,4,4,4
64077,1675,1626,10,17,0,0,0,22,6,16,...,7,0,0,0.0,2450.0,1225.0,4,4,3,1
64070,3509,3374,41,6,5,0,25,58,7,51,...,56,21,0,0.0,2162.0,100.0,4,4,3,3
63953,1864,1638,8,0,0,0,19,199,0,199,...,10,0,0,0.0,0.0,0.0,4,4,4,4
63954,952,855,82,0,0,0,0,15,0,15,...,0,0,0,0.0,250.0,250.0,4,4,4,2
63961,1680,1606,8,0,0,0,0,66,0,66,...,0,0,0,0.0,350.0,175.0,4,4,4,2
47116,646,646,0,0,0,0,0,0,0,0,...,0,0,0,0.0,1916.0,35.0,4,4,3,4
27544,4564,2708,1703,36,0,0,36,81,0,81,...,4,4,0,0.0,655.0,25.0,4,4,3,4
14035,103,103,0,0,0,0,0,0,0,0,...,0,0,0,0.0,2000.0,2000.0,4,4,3,1
63964,800,800,0,0,0,0,0,0,0,0,...,0,0,0,0.0,150.0,50.0,4,4,4,4
47031,5234,5134,0,40,7,0,49,4,0,4,...,43,0,0,0.0,1583.0,200.0,4,4,3,2
64018,1080,1067,0,0,0,0,0,13,0,13,...,22,3,0,0.0,1000.0,1000.0,4,4,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10075,23353,20558,341,0,1152,0,699,603,170,433,...,1410,881,2.45564e+06,100.0,1036979.0,1000.0,1,1,1,1
11201,60061,38567,8227,30,6763,108,3299,3067,434,2633,...,4098,2000,2.4605e+06,50.0,236282.0,250.0,1,2,1,2
10065,30001,26148,1010,14,2329,18,130,352,36,316,...,1344,1182,2.58778e+06,100.0,2596253.0,1500.0,1,1,1,1
60614,69817,59701,2906,39,4485,27,638,2021,150,1871,...,2628,1703,2.60091e+06,100.0,1063623.0,700.0,1,1,1,1
20814,28828,22703,1647,45,3003,68,285,1077,88,989,...,1657,1210,2.60926e+06,100.0,339597.0,500.0,1,1,1,1
20816,16341,14697,283,5,910,0,30,416,48,368,...,525,437,2.77425e+06,100.0,392725.0,250.0,1,1,1,2
20009,51508,34531,9863,52,2835,116,2400,1711,272,1439,...,3599,2597,2.82077e+06,50.0,607194.0,500.0,1,2,1,1
10003,56767,44001,2493,105,7348,8,1198,1614,346,1268,...,2402,1327,2.87087e+06,50.0,414187.0,250.0,1,2,1,2
10025,94717,62509,11505,790,8697,22,7221,3973,506,3467,...,10665,3898,2.9591e+06,50.0,227782.0,360.0,1,2,1,1
90210,20957,17678,250,8,2020,0,304,697,258,439,...,557,255,3.02276e+06,250.0,1963594.0,1000.0,1,1,1,1
94301,17409,12291,300,38,3600,0,230,950,32,918,...,637,401,3.0365e+06,100.0,1294738.0,2000.0,1,1,1,1
10019,39505,27568,2551,196,6356,53,1481,1300,157,1143,...,3777,1838,3.05919e+06,50.0,3341093.0,2500.0,1,2,1,1
90049,35581,30154,464,74,3228,0,298,1363,73,1290,...,1382,918,3.31671e+06,100.0,1333753.0,600.0,1,1,1,1
02138,37067,27178,1830,45,5596,20,723,1675,172,1503,...,1156,993,3.41722e+06,75.0,108452.0,250.0,1,1,1,2
10028,48205,41499,659,48,4436,134,371,1058,194,864,...,1836,1125,3.42109e+06,50.0,1845537.0,1000.0,1,2,1,1
40507,1754,1406,290,0,10,0,0,48,0,48,...,36,26,3.51182e+06,500.0,48500.0,500.0,1,1,1,1
10022,30262,25795,605,50,3170,0,236,406,33,373,...,1269,928,3.87086e+06,100.0,23789716.0,1500.0,1,1,1,1
10128,63006,50826,3094,9,5828,0,940,2309,522,1787,...,4951,3246,4.05691e+06,95.5,1685129.0,500.0,1,1,1,1
20016,35192,28526,2221,60,2129,0,520,1736,98,1638,...,1765,1404,4.16368e+06,100.0,1675170.0,500.0,1,1,1,1
10011,50404,40021,2313,64,5091,4,1415,1496,206,1290,...,3625,2157,4.21388e+06,50.0,429651.0,500.0,1,2,1,1
10021,45261,37409,576,316,4280,59,1040,1581,128,1453,...,1909,1485,4.24121e+06,100.0,3251370.0,1000.0,1,1,1,1
20007,26415,22056,1416,48,1723,0,251,921,178,743,...,1393,1189,4.39108e+06,112.0,1952383.0,500.0,1,1,1,1
20817,36856,28779,1215,44,5010,0,296,1512,69,1443,...,2057,1437,4.54026e+06,100.0,1012375.0,500.0,1,1,1,1
20008,28261,22509,2312,78,1688,0,875,799,153,646,...,2306,1857,4.7705e+06,100.0,1133784.0,1000.0,1,1,1,1
10023,60307,49506,2060,111,6270,21,1073,1266,100,1166,...,3806,2560,5.7542e+06,50.0,2570602.0,1000.0,1,2,1,1
10024,58516,47632,3146,41,4282,0,1741,1674,194,1480,...,3665,1794,6.19603e+06,50.0,2063744.0,1000.0,1,2,1,1
30327,23120,20151,1229,6,1316,3,98,317,73,244,...,513,336,7.5844e+06,50.0,2066100.0,500.0,1,2,1,1
20815,30269,25629,1243,46,2016,3,270,1062,113,949,...,1449,1186,8.22691e+06,200.0,806121.0,500.0,1,1,1,1
33408,17652,16761,314,14,192,0,158,213,30,183,...,650,179,1.01508e+07,50.0,1187987.0,800.0,1,2,1,1
20854,49926,35178,2289,41,10958,0,113,1347,100,1247,...,1916,1382,1.87385e+07,100.0,1490237.0,500.0,1,1,1,1

In [63]:
combined_summary_df.to_csv('cleaned_combined_zipcodes_new.csv', index=False)

In [41]:
combined_summary_df = pd.read_csv('cleaned_combined_zipcodes.csv')

In [ ]:
# Create Models

In [66]:
from numpy.random import seed
#seed(1)
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split

In [109]:
group_type = 'median'
party = 'REP'
combined_summary_df.dropna(inplace=True)
X = combined_summary_df[combined_summary_df.columns[:163]]
y = combined_summary_df[f"donations_{group_type}_{party}_quartile"]
print(X.shape, y.shape)

(27463, 163) (27463,)

In [110]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1, stratify=y)

In [111]:
y_train = to_categorical(y_train)
y_test = to_categorical(y_test)

In [112]:
# The output layer has 5 columns that are one-hot encoded
y_train.shape

(20597, 5)

In [113]:
y_test

array([[0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.],
       ...,
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]], dtype=float32)

In [114]:
# Create an empty sequential model
model = Sequential()

In [115]:
# Add the first layer where the input dimensions are the 561 columns of the training data
model.add(Dense(200, activation='relu', input_dim=X_train.shape[1]))

In [116]:
# Add a second hidden layer
model.add(Dense(200, activation='relu'))

In [117]:
# Add output layer
model.add(Dense(y_train.shape[1], activation="softmax"))

In [118]:
# Compile the model using categorical_crossentropy for the loss function, the adam optimizer,
# and add accuracy to the training metrics
model.compile(loss="categorical_crossentropy",
              optimizer="adam", metrics=['accuracy'])

In [119]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [120]:
# Use the training data to fit (train) the model
model.fit(
    X_train_scaled,
    y_train,
    epochs=20,
    shuffle=True,
    verbose=2
)

Epoch 1/20
 - 2s - loss: 1.2913 - acc: 0.4156
Epoch 2/20
 - 1s - loss: 1.2515 - acc: 0.4296
Epoch 3/20
 - 1s - loss: 1.2402 - acc: 0.4354
Epoch 4/20
 - 2s - loss: 1.2360 - acc: 0.4367
Epoch 5/20
 - 2s - loss: 1.2288 - acc: 0.4420
Epoch 6/20
 - 1s - loss: 1.2239 - acc: 0.4452
Epoch 7/20
 - 1s - loss: 1.2184 - acc: 0.4488
Epoch 8/20
 - 2s - loss: 1.2188 - acc: 0.4452
Epoch 9/20
 - 1s - loss: 1.2109 - acc: 0.4492
Epoch 10/20
 - 1s - loss: 1.2058 - acc: 0.4547
Epoch 11/20
 - 1s - loss: 1.2055 - acc: 0.4556
Epoch 12/20
 - 2s - loss: 1.1992 - acc: 0.4597
Epoch 13/20
 - 1s - loss: 1.1949 - acc: 0.4621
Epoch 14/20
 - 1s - loss: 1.1884 - acc: 0.4689
Epoch 15/20
 - 2s - loss: 1.1842 - acc: 0.4710
Epoch 16/20
 - 1s - loss: 1.1793 - acc: 0.4699
Epoch 17/20
 - 1s - loss: 1.1706 - acc: 0.4754
Epoch 18/20
 - 1s - loss: 1.1616 - acc: 0.4829
Epoch 19/20
 - 2s - loss: 1.1530 - acc: 0.4861
Epoch 20/20
 - 1s - loss: 1.1445 - acc: 0.4914

In [123]:
# Evaluate the model using the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

 - 0s - loss: 1.2942 - acc: 0.4141
Loss: 1.2942126557391551, Accuracy: 0.4140693247318268

In [124]:
model.save(f'donations_{group_type}_{party}_model.h5')

In [131]:
# Load models

In [136]:
from tensorflow.keras.models import load_model
group_type = 'median'
party = 'DEM'
model = load_model(f'donations_{group_type}_{party}_model.h5')

In [137]:
combined_summary_df[f'donations_{group_type}_{party}_predicted'] = model.predict_classes(X_scaler.transform(X))
combined_summary_df.head(50)

,Estimate; Total:,Estimate; Total: - White alone,Estimate; Total: - Black or African American alone,Estimate; Total: - American Indian and Alaska Native alone,Estimate; Total: - Asian alone,Estimate; Total: - Native Hawaiian and Other Pacific Islander alone,Estimate; Total: - Some other race alone,Estimate; Total: - Two or more races:,Estimate; Total: - Two or more races: - Two races including Some other race,"Estimate; Total: - Two or more races: - Two races excluding Some other race, and three or more races",...,donations_sum_REP,donations_median_REP,donations_sum_DEM_quartile,donations_median_DEM_quartile,donations_sum_REP_quartile,donations_median_REP_quartile,donations_median_REP_predicted,donations_sum_DEM_predicted,donations_sum_REP_predicted,donations_median_DEM_predicted
zipcode_5,,,,,,,,,,,,,,,,,,,,,
00602,39716,22941,968,0,74,0,1544,14189,164,14025,...,0.0,0.0,2,2,4,4,4,1,4,1
00603,51565,35176,2149,106,638,11,6610,6875,333,6542,...,0.0,0.0,2,4,4,4,4,2,4,3
00606,6320,3739,175,0,0,0,2246,160,77,83,...,500.0,500.0,4,4,4,1,1,4,4,4
00610,27976,16259,1018,0,33,1,6871,3794,103,3691,...,0.0,0.0,3,4,4,4,4,4,4,4
00612,63884,52902,3346,252,678,0,5209,1497,523,974,...,0.0,0.0,2,2,4,4,4,2,4,3
00622,7385,4530,95,0,0,0,2750,10,0,10,...,0.0,0.0,4,2,4,4,4,4,4,3
00623,42711,25586,1457,38,11,0,15212,407,42,365,...,0.0,0.0,2,4,4,4,4,2,4,1
00624,23945,19874,749,37,46,0,2671,568,110,458,...,0.0,0.0,4,4,4,4,4,4,4,4
00627,33481,26674,716,38,0,0,5734,319,154,165,...,0.0,0.0,3,1,4,4,4,3,4,1
00637,24013,19023,611,73,0,0,3771,535,134,401,...,500.0,500.0,3,1,4,1,4,3,4,1
00638,17795,17089,127,0,0,0,205,374,62,312,...,0.0,0.0,3,1,4,4,4,4,4,1
00641,28925,22643,431,49,261,0,4881,660,301,359,...,20.0,20.0,3,1,4,4,4,3,4,3
00646,38292,29479,4904,0,48,0,1378,2483,138,2345,...,40050.0,2300.0,1,1,1,1,4,2,4,3
00647,5711,4614,98,0,0,0,916,83,23,60,...,0.0,0.0,3,1,4,4,4,4,4,1
00650,14569,13544,265,0,60,0,562,138,0,138,...,58.0,29.0,4,4,4,4,4,4,4,4
00653,12125,9251,377,19,0,0,2180,298,83,215,...,0.0,0.0,2,1,4,4,4,4,4,1
00659,41327,40183,304,0,15,0,353,472,193,279,...,0.0,0.0,3,1,4,4,4,3,4,1
00660,16678,5945,325,0,75,0,7824,2509,214,2295,...,0.0,0.0,2,1,4,4,4,2,4,1
00662,41986,29308,2449,109,0,0,9202,918,117,801,...,0.0,0.0,3,4,4,4,4,3,4,3
00664,15693,13596,114,40,20,0,1267,656,78,578,...,0.0,0.0,4,4,4,4,4,4,4,1
00667,24492,15125,474,47,0,0,8304,542,395,147,...,0.0,0.0,3,3,4,4,4,3,4,3
00669,27063,21433,229,10,32,0,5061,298,9,289,...,0.0,0.0,3,1,4,4,4,3,4,1
00674,41545,35599,1745,38,17,0,3820,326,109,217,...,0.0,0.0,2,1,4,4,4,2,4,2
00676,38488,28030,1246,92,24,18,6857,2221,67,2154,...,0.0,0.0,3,1,4,4,4,3,4,1
00677,14755,8603,205,0,27,0,327,5593,26,5567,...,3700.0,1850.0,2,1,2,1,4,2,4,1
00680,50628,22631,1868,209,19,6,21045,4850,488,4362,...,100.0,25.0,2,2,4,4,4,2,4,3
00682,32433,12898,1183,35,23,0,14931,3363,403,2960,...,0.0,0.0,3,1,4,4,4,2,4,1
00683,32058,23867,694,22,0,0,7202,273,128,145,...,100.0,100.0,2,2,4,3,4,2,4,3
00685,40102,32155,853,0,34,0,6417,643,118,525,...,0.0,0.0,4,4,4,4,4,3,4,1
00687,32087,29699,331,35,32,0,1320,670,136,534,...,0.0,0.0,2,1,4,4,4,3,4,1
00690,5328,3116,70,0,23,0,891,1228,0,1228,...,0.0,0.0,3,3,4,4,4,4,4,1
00692,36700,28874,3866,32,89,0,2200,1639,104,1535,...,0.0,0.0,2,1,4,4,4,3,4,2
00693,57428,51677,2125,156,60,34,2602,774,384,390,...,0.0,0.0,2,3,4,4,4,2,4,3
00694,66,66,0,0,0,0,0,0,0,0,...,0.0,0.0,2,1,4,4,4,4,4,4
00698,38502,32399,1196,127,6,0,3875,899,281,618,...,0.0,0.0,2,1,4,4,4,3,4,3
00703,27797,22462,2206,155,3,0,825,2146,91,2055,...,0.0,0.0,3,4,4,4,4,3,4,1
00705,24387,20052,1654,14,55,0,2417,195,70,125,...,0.0,0.0,3,1,4,4,4,3,4,4
00707,11506,5135,5544,10,0,0,473,344,106,238,...,0.0,0.0,4,1,4,4,4,4,4,1
00714,18640,10750,4129,0,0,0,3561,200,67,133,...,0.0,0.0,4,4,4,4,4,4,4,1
00715,3692,1856,847,9,0,0,84,896,25,871,...,0.0,0.0,2,1,4,4,4,4,4,1
00716,29351,23253,1586,0,1,0,1081,3430,122,3308,...,0.0,0.0,2,1,4,4,4,2,4,1
00717,17958,13942,905,22,73,0,574,2442,97,2345,...,0.0,0.0,2,3,4,4,4,2,4,1
00718,26460,16994,1321,0,291,0,7580,274,37,237,...,0.0,0.0,3,3,4,4,4,3,4,3
00719,30094,22018,1850,11,11,0,1477,4727,281,4446,...,0.0,0.0,3,2,4,4,4,4,4,2
00720,22148,18823,489,0,0,0,1997,839,40,799,...,200.0,100.0,3,1,4,3,4,3,4,1
00725,83479,62695,7788,207,379,0,10386,2024,455,1569,...,3500.0,1000.0,1,3,2,1,4,2,4,3
00727,57079,45138,3931,72,183,0,6570,1185,463,722,...,0.0,0.0,2,1,4,4,1,2,2,3
00728,41245,33570,1825,101,63,0,3865,1821,125,1696,...,0.0,0.0,4,4,4,4,4,3,4,3
00729,52897,25750,7416,49,213,0,19194,275,53,222,...,5810.0,50.0,2,2,2,4,4,2,4,3
00731,14988,12317,260,23,0,0,676,1712,68,1644,...,0.0,0.0,4,4,4,4,4,4,4,1

In [140]:
combined_summary_df[combined_summary_df.columns[167:]].to_csv('zipcodes_quartiles.csv')